/* Общий стиль сцены */
.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, #000 50%, #020b3a);
    overflow: hidden;
    border: 2px solid #555;
    border-radius: 10px;
    color: #fff;
}

/* Система Земли */
.earth-system {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.earth {
    border-radius: 50%;
    background: url('../media/earth.png') no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.moon {
    background: url('../media/moon.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: -400px; /* Увеличено пропорционально */
    left: -60px; /* Увеличено пропорционально */
    transform-origin: 200px 400px; /* Увеличено пропорционально */
    animation: orbit 5s linear infinite;
}

@keyframes orbit {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mars {
    position: absolute;
    border-radius: 50%;
    background: url('../media/mars.png') no-repeat center center;
    background-size: cover;
    top: 50%;
    left: 90%;
    transform: translateY(-50%);
}

/* Ракета */
.rocket {
    position: absolute;
    background: url('../media/rocket.png') no-repeat center center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rocket-body {
    position: relative;
    width: 100%;
    height: 100%;
}

.rocket-info {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%) translateY(-55%);
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
}

.controls {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.controls label {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
}

.controls input[type=range] {
    vertical-align: middle;
    background-color: #333;
    border: none;
    outline: none;
    appearance: none;
}

.controls input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}

.controls input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
}

.earth {
    width: 20vw;
    height: 20vw;
}

.moon {
    width: 7vw;
    height: 7vw;
}

.mars {
    width: 15vw;
    height: 15vw;
}

.rocket {
    width: 5vw;
    height: 5vw;
}

