<%- include('pages/template/baze.ejs', { title: 'Главная страница' ,
    headExtra: '' , body: ` <div
    class="px-4 py-5 my-5 text-center">
    <i class="d-block mx-auto mb-4 bi bi-journal-bookmark" style="font-size: 8rem; color: cornflowerblue;"></i>
    <h1 class="display-5 fw-bold text-body-emphasis">Задачи по информатике за 10 класс</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">v1</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/main/m1" class="btn btn-primary" role="button">Модуль 1</a>
            <a href="/main/m2" class="btn btn-primary" role="button">Модуль 2</a>
            <a href="/main/m3" class="btn btn-primary" role="button">Модуль 3</a>
            <a href="/main/m4" class="btn btn-primary" role="button">Модуль 4</a>
            <a href="/main/m5" class="btn btn-primary" role="button">Модуль 5</a>
        </div>
        <a href="/main/AI" class="btn btn-primary mt-5 disabled" role="button"><i class="bi bi-stars"></i>AI</a>
    </div>
    </div>
    `
    }) %>
