<%- include('../../pages/template/baze.ejs', { title: 'animation',
    headExtra: `
        <link rel="stylesheet" href="../styles/animation.css">
        <script defer src="../../js/animation.js" crossorigin="anonymous"></script>
    `,
    body: `
        <div class="scene">
            <div class="earth-system">
                <div class="earth"></div>
                <div class="moon"></div>
            </div>

            <div class="mars"></div>
            <div class="rocket">
                <div class="rocket-body">
                    <div class="rocket-info">
                        <p>Дистанция от земли: <span id="distance">---</span> км</p>
                        <p>~ Время: <span id="timeRemaining">---</span> c</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="controls">
            <label for="speedRange">Скорость ракеты (км/с):</label>
            <input type="range" id="speedRange" min="1" max="50000" value="10">
            <button id="startBtn">Старт/Стоп</button>
            <button id="reverseBtn" disabled>Обратный полёт</button>
        </div>
    `
}) %>
