<%- include('../../pages/template/baze.ejs', { title: 'M4' ,
	headExtra: '<script defer src="../../js/sort.js" crossorigin="anonymous"></script>' , body: `
<div class='all_tasks mb-5'>
    <h1 class="title mt-3">Сортировки</h1>
        <div class="task-card">
      <div class="container" id="barsContainer"></div>
      <button type="button" id="sortBtn" class="btn btn-primary btn-sm">Сортировать</button>

</div>
</div>

`
	}) %>
